*{
  padding: 0;
}
body{
    background-color: #F7F7F7;
    top: 0px;
left: 0px;
width: 1280px;
height: 100px;
box-shadow: 0px 3px 30px #7B7B7B29;
position: absolute;
right:10px;

}
.header
{
  top:40px;
  font-family: Timmana;
    font-size: 36px;
  left:50px;
  position: relative;
}
.navbar{
    position: absolute; 
    width: 486px; 
    height: 487px;
    top:20px;
    left:15px;
    right:23px;
    
}
.arrow
{
   font-size:20px;
}
.circle
{
  background-color:#424242;;
  color:white;
  border-radius:50%;
  position: relative;
  top:150px;
  width:50px;
  height: 50px;
  left:450px;
  text-align: center;
  font-size: 30px;
}
.back
{
  left:510px;
  position:absolute;
  top:180px;
}
.circle1
{
  background-color:#424242;;
  color:white;
  border-radius:50%;
  position: relative;
  top:100px;
  width:60px;
  height: 60px;
  left:400px;
  text-align: center;
  font-size: 30px;
}
.back1
{
  left:470px;
  position:absolute;
  top:120px;
}
.icon
{
    font-size: 40px;
}
.plus
{
    background-color: #00A5EC;
    border-radius: 50%;
    color: white;
    border: 2px solid #00A5EC;
    position: absolute;
    top:150px;
    left:1000px;
    height:50px;
    width:50px;
    text-align: center;
   
}
.box:hover
{
  box-shadow: 0px 0px 20px #67676729;
  background: #FFFFFF 0% 0% no-repeat padding-box;

}
.parent1
{
  filter: blur(10px);
}
.parent2
{
  filter: blur(1px);
}
.addtask
{
   top:120px;
  float: right;
  right:100px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #EDEDED;
  text-decoration: none;
  text-decoration-color: black;

}
.addbox
{
  width:300px;
  height: 150px;
  position: relative;
  bottom: 100px;
  top: 300px;
  left:500px;
  background-color: white;
  border: 2px solid #EDEDED;
  font-size: 16px;
}
.plus1
{ 
  background-color: #00A5EC;
  border-radius: 50%;
  color: white;
  border: 2px solid #00A5EC;
  position:relative;
  left:600px;
  height:40px;
  width:40px;
  top:100px;
  text-align: center;
}
.addtask1
{
  position: relative;
  left:650px;
  top: 70px;
  font-size: 18px;
  font-weight: bold;
}
.plus2
{ 
  background-color: #00A5EC;
  border-radius: 50%;
  color: white;
  border: 2px solid #00A5EC;
  position:relative;
  top:30px;
  left:670px;
  right:250px;
  height:50px;
  width:50px;
  bottom:0px;
  text-align: center;
}
.addtask2
{
  position: relative;
  left:730px;
  top: 0px;
  font-weight: bold;
  font-size: 20px;
}
.task{
position: absolute;
left:180px;
bottom:20px;
border: 2px solid #00A5EC;
background-color: #00A5EC;
border-radius: 5%;
width:100px;
height: 30px;
color: #F7F7F7;
font-size: 14px;

}
.task1{
  position: absolute;
  left:210px;
  bottom:20px;
  border: 2px solid #00A5EC;
  background-color: #00A5EC;
  border-radius: 5%;
  width:100px;
  height: 30px;
  color: #F7F7F7;
  font-size: 14px;
  
  }
.task3
{
  position: relative;
    width: 400px;

}

.additem
{

top: 50px;
left: 400px;
width: 350px;
height: 180px;
background: #F7F7F7;
box-shadow: 0px 0px 20px #67676729;
border: 2px solid #EDEDED;
border-radius: 10px;
position: relative;
font-size: 20px;

}
.flex-container {
    display: flex;
    flex-direction: row;
  }

  .box1
  {
    height: 250px;
    width: 300px;
    top:220px;
    right:140px;
    border: 1px solid black;
    background-color: #67676729;
  }
  .round1
  {
    position: absolute;
    box-shadow: -10px -10px 10px 10px #EDEDED;
    right:150px;
    bottom:50px;
    left:100px;
    color: #C2C2C2;
    border-radius: 5%;
    }
  .round2
  {
    position: absolute;
    box-shadow: -10px -10px 10px 10px #EDEDED;
    right:180px;
    bottom:50px;
    left:420px;
    color: #C2C2C2;
    border-radius: 5%;

  }
  .round3
  {
    position: absolute;
    box-shadow: -10px -10px 10px 10px #EDEDED;
    bottom:50px;
    left:740px;
    color: #C2C2C2;
    border-radius: 5%;

  }
  .round4
  {
    position: absolute;
    box-shadow: -10px -10px 10px 10px #EDEDED;
    top:500px;
    right:615px;
    left:100px;
    color: #C2C2C2;
    border-radius: 5%;
}
  .round5
  {
    position: absolute;
    box-shadow: -10px -10px 10px 10px #EDEDED;
    top:500px;
    right:550px;
    color: #C2C2C2;
    border-radius: 5%;
  


  }
  .b
  {
    font-size: 16px;
    color: #00A5EC;
    position: absolute;
    text-align: left;
    left: 40px;
    top: 10px;
  
  }

  .addround1
  {
    width:350px;
    height:300px;
    position: relative;
    left:450px;
    color: #C2C2C2;
    box-shadow: 0px 0px 10px 10px #EDEDED ;
    font-size: 20px;
    border-radius: 10%;
    bottom:300px;
    top: 100px;

  }
  .addround2
  {
    width:350px;
    height:300px;
    position: absolute;
    left:400px;
    color: #C2C2C2;
    box-shadow: 0px 0px 10px 10px #EDEDED ;
    font-size: 24px;
    border-radius: 10%;
    margin-bottom: 200px;
    bottom: 150px;

  }
  #Task
  {
    width: 73%;
  }
  #text
  {
    width: 97%;
  }
.cross
{
  font-weight: bold;
  position: relative;
  left:280px;
  top: 5px;
  font-size:13px;
}
.cross1
{
  font-weight: bold;
  position: relative;
  left:330px;
  bottom: 20px;
  font-size:18px;
  margin-bottom:20px;

}
